.toastList {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 9999;
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toastList:empty {
  display: none;
}

.toastItem {
  position: relative;
  overflow: hidden;
}

.toastItem button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 5px;
  height: 5px;
}

.toastItem h5 {
  font-size: 16px;
  text-transform: capitalize;
}

.toastItem p {
  font-size: 15px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.toastItem span {
  position: absolute;
  min-height: 4px;
  bottom: 0;
  left: 0;
}